name: Update Gold Prices

on:
  schedule:
    - cron: "0 3 * * *"   # يومياً الساعة 3 فجراً
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run gold price update
        run: |
          python Gold-Price-Analytics/scripts/gold_price_update.py
 
      - name: Commit & push updated Excel
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add data/gold_prices.xlsx
          git commit -m "Auto update gold prices"
          git push
